{% trans_default_domain 'FOSUserBundle' %}
<h1>Modification des informations du profil</h1>

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

    {{ form_errors(form) }}

    <div class="row">
        <div class="form-group">
            <div class="col-xs-4">
                {{ form_label(form.username) }}
                {{ form_widget(form.username ,{ 'attr': {'class': 'form-control', 'placeholder' : 'Nom d\'utilisateur'} }) }}
                {{ form_errors(form.username) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-4">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder' : 'Email'} }) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
    </div>

    {{ form_rest(form) }}

    <div class="row">
        <div class="form-group">
            <div class="col-xs-4">
                <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}"/>
            </div>
        </div>
    </div>
</form>
<a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a>