
{% extends "TmTeambuilderBundle::layout.html.twig" %}

{% block title %}
    Ajouter des règles personnalisées
{% endblock %}

{% block tmteambuilder_body %}

<h1>Ajouter une régle :</h1>

<form method="post" {{ form_enctype(form) }} class="tm_teambuilder_regle_ajouter">
    {% block test %}
    {{ form_errors(form) }}

    <div class="row">
        <div class="form-group">
            <div class="col-xs-4">
                {{ form_label(form.operation) }}
                {{ form_widget(form.operation ,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.operation) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-4">
                {{ form_label(form.nombre) }}
                {{ form_widget(form.nombre ,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.nombre) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-4">
                {{ form_label(form.typeRegle, 'Type de règle') }}
                {{ form_widget(form.typeRegle ,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.typeRegle) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group typeRegle tm_teambuilderbundle_regle_caracteristique">
            <div class="col-xs-4">
                {{ form_label(form.caracteristique) }}
                {{ form_widget(form.caracteristique ,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.caracteristique) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group typeRegle tm_teambuilderbundle_regle_typeAttaque">
            <div class="col-xs-4">
                {{ form_label(form.typeAttaque) }}
                {{ form_widget(form.typeAttaque ,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.typeAttaque) }}
            </div>
        </div>
    </div>

    {{ form_rest(form) }}

    <div class="row">
        <div class="form-group">
            <div class="col-xs-4">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
    {% endblock %}
{% endblock %}