<div class="row text-center teambuilder">
    <div class="col-md-2 {{ monEquipe }}-team my-team">
        <div class="row">
                <h3>Equipe
                {% if monEquipe == 'blue' %}
                    bleu
                {% else %}
                    violette
                {% endif %}
                </h3>
        </div>
        <div class="row">
            {% for i in 0..4 %}
                <div class="col-md-12">
                    <div class="thumbnail center">
                        <a class="pick-champion" data-id-champion="{{ i }}"></a>
                        <div class="champion-role">
                            <label for="role">Rôle :</label>
                            <select name="role" class="form-control">
                                {% for role in listeRoles %}
                                    <option value="{{ role.code }}">{{ role.libelle }}</option>
                                {% endfor %}
                            </select>
                            <input class="btn btn-primary" type="button" value="Suggérer">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <h3>Bannis</h3>
            {% for i in 0..2 %}
                <div class="col-md-12">
                    <div class="thumbnail">
                        <a class="banned-champion" data-id-champion="{{ i }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="col-md-8 champion-list">
        <div class="row">
            {% for champion in listeChampions %}
                <div class="item-champion col-md-3 selectionnable suggest" data-id-champion="{{ champion.id }}" data-name-champion="{{ champion.nom }}" style="display: none; left: 0; top: 0;">
                    <div class="thumbnail">
                        <div class="champion-card">
                            <div class="front">
                                <a class="pick-champion">
                                    <img src="{{ asset(champion.webPath) }}" title="{{ champion.nom }}">
                                </a>
                            </div>
                            <div class="back">
                                <a class="champion-stat">
                                    <p class="nom"><b>{{ champion.nom }}</b></p>
                                    <span class="attaque">
                                        <span>
                                            <img src="/uploads/img/icones/attaque.png" title="Attaque">
                                        </span>
                                        <span class="bar" data-length="{{ champion.attaque }}"></span>
                                    </span>
                                     <span class="defense">
                                        <span>
                                            <img src="/uploads/img/icones/defense.png" title="Défense">
                                        </span>
                                        <span class="bar" data-length="{{ champion.defense }}"></span>
                                    </span>
                                     <span class="magie">
                                        <span>
                                            <img src="/uploads/img/icones/magie.png" title="Magie">
                                        </span>
                                        <span class="bar" data-length="{{ champion.magie }}"></span>
                                    </span>
                                    <span class="difficulte">
                                        <span>
                                            <img src="/uploads/img/icones/difficulte.png" title="Difficulté">
                                        </span>
                                        <span class="bar" data-length="{{ champion.difficulte }}"></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-2 {{ equipeAdverse }}-team">
        <div class="row">
            <p>
                <h3>Equipe
                {% if equipeAdverse == 'blue' %}
                    bleu
                {% else %}
                    violette
                {% endif %}
                </h3>
            </p>
        </div>
        <div class="row">
            {% for i in 0..4 %}
                <div class="col-md-12">
                    <div class="thumbnail">
                        <a class="pick-champion" data-id-champion="{{ i }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <h3>Bannis</h3>
            {% for i in 0..2 %}
                <div class="col-md-12">
                    <div class="thumbnail">
                        <a class="banned-champion" data-id-champion="{{ i }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>