<div class="row">
    <div class="col-md-2 {{ monEquipe }}-team my-team">
        <div class="row">
            <p>
                Equipe
                {% if monEquipe == 'blue' %}
                    bleu
                {% else %}
                    violette
                {% endif %}
            </p>
        </div>
        <div class="row">
            {% for i in 0..4 %}
                <div class="col-md-12">
                    <div class="thumbnail">
                        <a class="pick-champion" data-id-champion="{{ i }}"></a>
                        <div class="champion-role">
                            <label for="role">Rôle :</label>
                            <select name="role">
                                {% for role in listeRoles %}
                                    <option value="{{ role.code }}">{{ role.libelle }}</option>
                                {% endfor %}
                            </select>
                            <input class="btn btn-primary" type="button" value="Suggérer">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            Champions bannis
            {% for i in 0..2 %}
                <div class="col-md-8">
                    <div class="thumbnail">
                        <a class="banned-champion" data-id-champion="{{ i }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="col-md-8 champion-list">
        <div class="row">
            {% for champion in listeChampions %}
                <div class="item-champion col-md-3 selectionnable suggest" data-id-champion="{{ champion.id }}" data-name-champion="{{ champion.nom }}" style="display: none; left: 0px; top: 0px;">
                    <div class="thumbnail">
                        <a class="pick-champion"><img
                                    src="{{ asset(champion.webPath) }}" title="{{ champion.nom }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-2 {{ equipeAdverse }}-team">
        <div class="row">
            <p>
                Equipe
                {% if equipeAdverse == 'blue' %}
                    bleu
                {% else %}
                    violette
                {% endif %}
            </p>
        </div>
        <div class="row">
            {% for i in 0..4 %}
                <div class="col-md-12">
                    <div class="thumbnail">
                        <a class="pick-champion" data-id-champion="{{ i }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            Champions bannis
            {% for i in 0..2 %}
                <div class="col-md-8">
                    <div class="thumbnail">
                        <a class="banned-champion" data-id-champion="{{ i }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>