
{% extends "TmTeambuilderBundle::layout.html.twig" %}

{% block title %}
    Visualisation de la liste des règles
{% endblock %}

{% block tmteambuilder_body %}

    <h2>Liste des règles :</h2>
    <p><a href="{{ path('tm_teambuilder_regle_ajouter') }}">Ajouter une nouvelle règle</a></p>
    <ul>
        {% for regle in listeRegles %}
            <li>
                <div>
                    {{ regle.operation.libelle }}
                    {{ regle.nombre }}
                    Champion avec
                    {% if regle.typeAttaque is not null %}
                        le type d'attaque :
                        {{ regle.typeAttaque.libelle }}
                    {% endif %}
                    {% if regle.caracteristique is not null %}
                        la caractéristique :
                        {{ regle.caracteristique.libelle }}
                    {% endif %}


                    <p><a href="{{ path('tm_teambuilder_regle_modifier', {'id': regle.id}) }}">Modifier la règle</a></p>
                    <p><a href="{{ path('tm_teambuilder_regle_supprimer', {'id': regle.id}) }}">Supprimer la règle</a></p>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}